.toastr > .toastr-title {
    font-weight: bold !important;
}

.toastr.toastr-success {
    background-color: var(--tbr-success) !important;
}

.toastr.toastr-error {
    background-color: var(--tbr-danger) !important;
}

.toastr.toastr-success:not(:hover) {
    opacity: 1 !important;
}

.toastr.toastr-error:not(:hover) {
    opacity: 1 !important;
}

#toastr-container > .toastr-success {
    padding-left: 5rem !important;
    background-position-y: 15px !important;
    background-image: url('data:image/svg+xml,<svg width="35" height="35" viewBox="0 0 35 35" fill="none" xmlns="http://www.w3.org/2000/svg"><path opacity="0.4" d="M15.9859 3.00133L7.9651 6.0055C6.43385 6.58883 5.17969 8.39717 5.17969 10.0451V21.8576C5.17969 23.0388 5.9526 24.5992 6.90052 25.2992L14.9214 31.293C16.3359 32.3576 18.6547 32.3576 20.0693 31.293L28.0901 25.2992C29.038 24.5847 29.8109 23.0388 29.8109 21.8576V10.0451C29.8109 8.41175 28.5568 6.58883 27.0255 6.02008L19.0047 3.01592C18.188 2.69508 16.8172 2.69508 15.9859 3.00133Z" fill="white"/><path d="M15.5474 20.7516C15.2703 20.7516 14.9932 20.6495 14.7745 20.4307L12.4266 18.0828C12.0036 17.6599 12.0036 16.9599 12.4266 16.537C12.8495 16.1141 13.5495 16.1141 13.9724 16.537L15.5474 18.112L21.0453 12.6141C21.4682 12.1911 22.1682 12.1911 22.5911 12.6141C23.0141 13.037 23.0141 13.737 22.5911 14.1599L16.3203 20.4307C16.1016 20.6495 15.8245 20.7516 15.5474 20.7516Z" fill="white"/></svg>') !important;
}

#toastr-container > .toastr-error {
    padding-left: 5rem !important;
    background-position-y: 15px !important;
    background-image: url('data:image/svg+xml,<svg width="35" height="35" viewBox="0 0 35 35" fill="none" xmlns="http://www.w3.org/2000/svg"><path opacity="0.3" d="M14.3672 30.9615L7.67344 25.4927C7.10106 25.0304 6.63907 24.4462 6.32119 23.7827C6.0033 23.1192 5.83752 22.393 5.83594 21.6573V10.9385C5.83648 9.98631 6.11201 9.05449 6.62942 8.2551C7.14683 7.4557 7.8841 6.82274 8.7526 6.43229L15.4609 3.36979C16.1063 3.07464 16.8076 2.92187 17.5172 2.92188C18.2268 2.92187 18.9281 3.07464 19.5734 3.36979L26.2526 6.43229C27.1211 6.82274 27.8584 7.4557 28.3758 8.2551C28.8932 9.05449 29.1687 9.98631 29.1693 10.9385V21.6573C29.1695 22.3919 29.0059 23.1173 28.6906 23.7807C28.3753 24.4442 27.9161 25.029 27.3464 25.4927L20.6526 30.9615C19.7687 31.693 18.6573 32.0933 17.5099 32.0933C16.3625 32.0933 15.2511 31.693 14.3672 30.9615Z" fill="white"/><path d="M20.4193 21.4398C20.279 21.4413 20.1397 21.415 20.0096 21.3624C19.8795 21.3098 19.761 21.2321 19.661 21.1335L13.8277 15.4315C13.6229 15.2264 13.5078 14.9484 13.5078 14.6585C13.5078 14.3687 13.6229 14.0907 13.8277 13.8856C14.037 13.6834 14.3168 13.5703 14.6079 13.5703C14.899 13.5703 15.1787 13.6834 15.3881 13.8856L21.2214 19.5877C21.4263 19.7928 21.5413 20.0708 21.5413 20.3606C21.5413 20.6505 21.4263 20.9285 21.2214 21.1335C21.1148 21.2354 20.989 21.3149 20.8512 21.3675C20.7135 21.4201 20.5667 21.4447 20.4193 21.4398Z" fill="white"/><path d="M14.5839 21.4421C14.438 21.4431 14.2933 21.4153 14.1582 21.3602C14.0231 21.3052 13.9001 21.224 13.7964 21.1213C13.5916 20.9162 13.4766 20.6382 13.4766 20.3484C13.4766 20.0585 13.5916 19.7805 13.7964 19.5755L19.6298 13.8734C19.7224 13.7384 19.8441 13.6259 19.986 13.5443C20.1279 13.4626 20.2863 13.4138 20.4496 13.4015C20.6128 13.3892 20.7767 13.4138 20.9292 13.4733C21.0817 13.5328 21.219 13.6258 21.3307 13.7454C21.4425 13.865 21.526 14.0081 21.5751 14.1643C21.6242 14.3205 21.6376 14.4857 21.6143 14.6478C21.591 14.8098 21.5316 14.9646 21.4405 15.1006C21.3495 15.2366 21.229 15.3505 21.0881 15.4338L15.2548 21.1359C15.072 21.3106 14.8356 21.4185 14.5839 21.4421Z" fill="white"/></svg>') !important;
}
