.card .card-body.body-accordion {
    padding: 0px !important;
}

.card .card-body.body-accordion > div {
    margin: 20px 30px !important;
}

.accordion.tbr_accordion .accordion-header .accordion-icon {
    transform: rotate(0deg);
}

.accordion.tbr_accordion .accordion-header[aria-expanded="true"] .accordion-icon {
    transform: rotate(180deg);
}

.table-responsive {
    border: 1px solid var(--tbr-divider);
    border-radius: 12px;
}

table {
    border-radius: 12px;
    border-collapse: collapse;
    color: var(--tbr-icon-color);
    font-weight: 600;
    min-width: 800px;
    overflow: hidden;
}

.table-responsive table thead tr {
    border-bottom: 1px solid var(--tbr-divider) !important;
}

.table-responsive table thead tr th{
    padding-top: 17px ;
    padding-bottom: 17px ;
}

.table-responsive table thead tr th:first-child,
.table-responsive table tbody tr td:first-child {
    padding-left: 30px !important;
}

.table-responsive table thead tr th:last-child,
.table-responsive table tbody tr td:last-child {
    padding-right: 30px !important;
}

/* .table-responsive table thead tr th:nth-child(2),
.table-responsive table thead tr th:nth-child(3) {
    width: %;
    max-width: 35%;
} */

.table-responsive table tr:not(:last-child) {
    border-bottom: 1px dashed var(--tbr-divider);
}

.table-responsive table tr td {
    border: none !important;
}

.tbr_empty--product {
    padding-top: 82px;
}

.tbr_empty--product.d-none ~ .tbr_add--product {
    margin-bottom: 20px;
}

.tbr_empty--product ~ .tbr_add--product {
    margin-bottom: 95px;
}

.table-responsive table .tbody .select2.select2-container {
    max-width: 30%;
}

.tbr_unit--deleted {
    position: absolute;
    z-index: 1;
    right: 13px;
    top: 50%;
    transform: translateY(-50%);
}

.tbr_unit--deleted ~ .select2.select2-container .tbr_form.form-select{
    background-image: none;
}

.table.tbl-note.align-middle  {
    border-radius: 12px;
    border-collapse: collapse;
    color: var(--text-color);
    font-weight: 600;
    font-size: 1.1rem;
    min-width: 400px;
    overflow: hidden;
    margin-bottom: 0;
}

.select2-container--open,
.select2-dropdown {
    z-index: var(--tbr-backdrop-zindex-overlap)
}
