.table-responsive table thead tr th:nth-child(2) {
    width: 45%;
    min-width: 45%;
}

.table-responsive table thead tr th:nth-child(3) {
    width: 35%;
    min-width: 35%;
}


.select2-container--open,
.select2-dropdown {
    z-index: var(--tbr-backdrop-zindex-overlap)
}
